.passwordChanged__page {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: rgba(251, 248, 248, 0.178);
}

/* Left section */
.passwordChanged__left-section {
  width: 50%;
  height: 100vh;
  left: 0;
  background-color: #f3f3f3;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.passwordChanged__left-section-item1 img {
  width: 20%;
  height: auto;
}

.passwordChanged__right-section {
  width: 50%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 20px;
}

.passwordChanged__right-section img {
  margin-bottom: 20px;
}

.passwordChanged__right-section a {
  color: var(--primary-color);
  cursor: pointer;
}

.passwordChanged__right-section form {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.passwordChanged__right-section form input {
  border: 2px solid var(--primary-color);
  height: 2rem;
  border-radius: 10px;
  height: 45px;
  font-size: 0.85rem;
  caret-color: var(--primary-color);
  margin: 10px 0;
}

.passwordChanged__right-section form label {
  text-align: start;
}

.passwordChanged__right-section h2 {
  font-size: 1.9rem;
  margin: 20px;
}

.passwordChanged__right-section button {
  font-size: 1.1rem;
  font-weight: 300;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  width: 80%;
  border: none;
  border-radius: 8px;
  background-color: var(--primary-color);
  color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 780px) {
  .passwordChanged__page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: rgba(251, 248, 248, 0.178);
  }

  /* Left section */
  .passwordChanged__left-section {
    width: 100vw;
    height: fit-content;
    z-index: 1;
  }

  .passwordChanged__right-section {
    width: 100vw;
    height: fit-content;
    z-index: 999999999999;
  }

  .passwordChanged__left-section > img {
    width: 70vw;
    object-fit: fill;
    margin: auto;
  }

  .passwordChanged__right-section > img {
    margin: auto;
    width: 70vw;
    height: auto;
  }

  .passwordChanged__right-section p {
    font-size: 1rem;
  }
  .passwordChanged__right-section form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
  .passwordChanged__page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: rgba(251, 248, 248, 0.178);
    align-items: center;
    justify-content: center;
  }

  .passwordChanged__left-section {
    width: 100vw;
  }

  .passwordChanged__left-section > img {
    width: 70vw;
    object-fit: fill;
    align-self: center;
  }
  .passwordChanged__right-section {
    width: 70%;
  }

  .passwordChanged__right-section form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
