/* main div */
.forgot-pass__page {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: rgba(251, 248, 248, 0.178);
}
/* Left Section */
.forgot-pass__left-section {
  width: 50%;
  height: 100vh;
  left: 0;
  background-color: #f3f3f3;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

/* logo image */
.forgot-pass__left-section-item1 img {
  width: 20%;
  height: auto;
}

.forgot-pass__right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
  padding: 30px;
}

.forgot-pass__right-section img {
  margin-bottom: 20px;
  width: 200px;
}

.forgot-pass__right-section form {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.forgot-pass__right-section form input {
  border: 2px solid var(--primary-color);
  height: 2rem;
  border-radius: 10px;
  height: 45px;
  font-size: 0.85rem;
  caret-color: var(--primary-color);
  margin: 10px 0;
}

.forgot-pass__right-section form button {
  align-self: center;
  width: 100%;
}

.forgot-pass__right-section form a {
  align-self: center;
}

.forgot-pass__right-section h1 {
  font-size: 1.9rem;
}

.forgot-pass__right-section a {
  color: var(--primary-color);
  cursor: pointer;
  font-size: 1rem;
}

.forgot-pass__right-section button {
  font-size: 1.1rem;
  font-weight: 300;
  margin: 0 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  width: fit-content;
  border: none;
  border-radius: 8px;
  background-color: var(--primary-color);
  color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 1200px) {
  .forgot-pass__left-section {
    align-items: center;
    justify-content: center;
  }

  .forgot-pass__left-section img {
    width: 40vw;
    object-fit: fill;
  }

  .forgot-pass__left-section-item1 img {
    width: 40%;
    /* height: auto; */
    object-fit: fill;
  }
  .forgot-pass__left-section-item1 {
    margin-bottom: 60px;
  }
}

/* ----------- iPhone 4 and 4S / Mobile ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .forgot-pass__page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: rgba(251, 248, 248, 0.178);
  }

  .forgot-pass__left-section {
    width: 100vw;
    height: fit-content;
    z-index: 1;
  }
  .forgot-pass__right-section {
    width: 100vw;
    height: fit-content;
    z-index: 9999999999;
  }
  .forgot-pass__left-section > img {
    width: 70vw;
    object-fit: fill;
  }
  .forgot-pass__right-section form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .forgot-pass__right-section h1 {
    font-size: 1rem;
  }
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: Landscape) {
  .forgot-pass__page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: rgba(251, 248, 248, 0.178);
  }

  .forgot-pass__left-section {
    width: 100vw;
  }
}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
  .forgot-pass__page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: rgba(251, 248, 248, 0.178);
  }

  .forgot-pass__left-section {
    width: 100vw;
  }
  .forgot-pass__left-section > img {
    width: 70vw;
    object-fit: fill;
  }
  .forgot-pass__right-section form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .forgot-pass__right-section form label {
    font-size: 1.5rem;
  }

  form label::placeholder {
    font-size: 1.2rem;
  }

  .forgot-pass__right-section form button,
  a {
    font-size: 1.3rem;
  }

  .forgot-pass__right-section {
    padding: 150px 0 100px 0;
    width: 60%;
  }

  .forgot-pass__right-section img {
    width: 350px;
  }

  .forgot-pass__right-section h1 {
    font-size: 2rem;
  }
}

/* ----------- iPad 1, 2, Mini and Air / Tablets ----------- */

/* Portrait and Landscape */

@media only screen and (min-device-width: 768px) and (device-height: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .forgot-pass__page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: rgba(251, 248, 248, 0.178);
  }

  .forgot-pass__left-section {
    width: 50vw;
  }

  .forgot-pass__left-section-item1 img {
    width: 30vw;
  }

  .forgot-pass__left-section > img {
    width: 50vw;
    object-fit: fill;
  }

  .forgot-pass__right-section {
    width: 80%;
  }

  .forgot-pass__right-section > img {
    width: 300px;
  }
  .forgot-pass__right-section form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .forgot-pass__right-section h1 {
    font-size: 1rem;
  }
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .forgot-pass__page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: rgba(251, 248, 248, 0.178);
  }

  .forgot-pass__left-section {
    width: 100vw;
  }
}

@media only screen and (max-width: 780px) {
    .forgot-pass__page{
        display: flex;
        flex-direction: column;
    }

    .forgot-pass__left-section {
        width: 100vw;
    }

    .forgot-pass__right-section {
      width: 100vw;
    }


}