.container {
  max-width: 1196px;
  margin: 0 auto;
  padding: 0 40px;
}

/*about section*/

.landing__about {
  margin-top: 62px;
}
.container__about {
  width: 100%;
  height: 450px;
  display: flex;
}
.info__about {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.info__about h4 {
  font-weight: 600;
  font-size: 2.1em;
}
.info__about p {
  padding: 20px 50px;
  font-size: 1.2em;
}
.images__about {
  width: 50%;
  height: 100%;
}
.images__about img {
  width: 100%;
  height: 100%;
}
.container__about .navbar__buttons a {
  padding: 8px 20px;
  font-size: 1.2em;
}
/*contact section*/
.contact__container {
  width: 100%;
  height: 200px;
}
.contact__container h3 {
  font-weight: 300;
  font-size: 2.5em;
  margin: 10px;
  margin-bottom: 50px;
}
.contact__container a {
  font-weight: 300;
  font-size: 1.4em;
  color: black;
  margin-top: 30px;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  border: solid 1px var(--primary-color);
}

/*footer section*/
.footer .container {
  padding: 30px 40px;
  border-top: 0.5px solid #f3f3f3;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left-footer-row,
.righ-footer-row {
  width: 50%;
}
.left-footer-row img {
  max-width: 150px;
}

.left-footer-row p {
  font-size: 300;
  font-size: 1.1em;
  margin: 10px 0;
}
.footer-links {
  display: flex;
  flex-direction: row;
}
.right-footer-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.footer-links a {
  font-size: 1.3em;
  font-weight: 400;
  padding: 10px 0;
  margin: 10px 0;
  margin-left: 30px;
  color: black;
}
.footer-links a:hover {
  color: var(--primary-color);
}
.right-footer-row h4 {
  padding: 0;
  font-size: 1.1em;
  font-weight: 200;
}

/*Features*/
.Wave-svg {
  margin-top: -5px;
}

.landing__dashboard {
  margin-top: -6px;
  height: 300px;
  background-color: #f3f3f3;
}

.landing__dashboard .container {
  display: flex;
  height: 100%;
}
.landing__dashboard__text,
.landing__dashboard__images {
  height: 100%;
  width: 50%;
}
.landing__dashboard__images {
  align-items: center;
  margin-top: -6vw;
}
.landing__dashboard__images img {
  margin-top: 0px;
  width: 100%;
}
.landing__dashboard__text {
  padding: 40px 10px 0px 0px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: -3vw;
}
.landing__dashboard__text h4 {
  font-weight: 600;
  font-size: 2.4em;
  margin-bottom: 10px;
}
.landing__dashboard__text p {
  font-weight: 300;
  font-size: 1.1em;
}

/*landing__ai_section*/

.landing__ai_section {
  width: 100%;
  height: 400px;
}
.landing__ai_section .container {
  height: 100%;
  display: flex;
}
.landing_ai_images,
.landing_ai_text {
  width: 50%;
  height: 100%;
}
.landing_ai_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.landing_ai_images img {
  width: 100%;
  height: 100%;
}
.landing_ai_text h4 {
  font-size: 2.3em;
  font-weight: 600;
}
.landing_ai_text p {
  padding: 20px;
  font-size: 1em;
  font-weight: 200;
}

/*landing_reminder*/
.landing_reminder {
  width: 100%;
  height: 400px;
  background-color: #f3f3f3;
}

.landing_reminder .container {
  display: flex;
  height: 100%;
}

.landing_reminder_text,
.landing_reminder_images {
  padding: 20px 0;
  width: 50%;
  height: 100%;
}
.landing_reminder_images img {
  padding: 20px;
  width: 100%;
  height: 100%;
}
.landing_reminder_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px 40px;
}
.landing_reminder_text h4 {
  font-size: 2.3em;
  font-weight: 600;
}
.landing_reminder_text p {
  padding: 10px;
  font-size: 1.1em;
  font-weight: 200;
}

@media only screen and (max-width: 780px) {
  body {
    font-size: 13px;
  }
  .container__about {
    height: 350px;
  }
  .info__about h4 {
    font-size: 2em;
  }
  .info__about p {
    font-size: 1em;
    padding: 5px;
  }

  .landing__dashboard {
    height: 250px;
  }
  .landing_reminder_text {
    padding: 20px 0px;
  }
  .landing_reminder {
    height: 250px;
  }
  .landing__ai_section {
    height: 350px;
  }
  .landing__features h4 {
    font-size: 1.9em;
  }
  .landing__features p {
    font-size: 0.95em;
  }
  .contact__container {
    height: 150px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 15px;
  }
  .container {
    max-width: 1196px;
    margin: 0 auto;
    padding: 0 10px;
  }
  /*about section*/
  .landing__about {
    height: fit-content;
  }
  .landing__about h4 {
    padding: 20px;
  }
  .landing__about p {
    padding: 0 20px 30px 20px;
  }
  .container__about {
    margin: 0 auto;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    justify-items: center;
  }
  .info__about {
    width: 100%;
    height: 80%;
  }
  .images__about {
    width: 100%;
    height: 20%;
  }
  .images__about img {
    height: 100%;
  }
  /*landing__dashboard*/
  .Wave-svg {
    margin-top: 60px;
  }

  .landing__dashboard {
    margin-top: -6px;
    height: fit-content;
    padding-bottom: 30px;
  }
  .landing__dashboard__text {
    padding: 0 15px;
  }
  .landing__dashboard .container {
    flex-direction: column-reverse;
    height: 100%;
  }
  .landing__dashboard__text,
  .landing__dashboard__images {
    height: 50%;
    width: 100%;
  }
  .landing__dashboard__images {
    align-items: center;
    margin-top: -50px;
  }
  .landing__dashboard__text {
    margin-top: 0;
  }
  /*Ai section*/
  .landing__ai_section {
    width: 100%;
    height: fit-content;
  }
  .landing__ai_section .container {
    height: 100%;
    flex-direction: column;
  }
  .landing_ai_images {
    width: 100%;
    height: 70%;
  }
  .landing_ai_text {
    width: 100%;
    height: 30%;
  }
  .landing_ai_text h4 {
    padding: 0 10px;
  }
  .landing_ai_text p {
    padding: 20px 30px;
  }
  /*landing_reminder*/
  .landing_reminder {
    height: fit-content;
  }

  .landing_reminder .container {
    flex-direction: column-reverse;
    height: 100%;
  }

  .landing_reminder_text {
    padding: 0;
    width: 100%;
    height: 40%;
  }
  .landing_reminder_text p {
    padding: 10px 20px;
  }
  .landing_reminder_text h4 {
    padding: 0 20px;
  }
  .landing_reminder_images {
    height: 60%;
    padding: 0;
    width: 100%;
  }
  /*foooter section*/
  .footer-links {
    flex-direction: column;
  }
  .footer-links a {
    margin: 0;
  }
  .navbar__buttons a {
    font-size: 1.25em;
  }
  /*contact section*/
  .contact__container {
    height: fit-content;
  }
  .contact__container h3 {
    margin-bottom: 20px;
  }
  .contact__container a {
    font-size: 1.1em;
    margin-bottom: 30px;
    padding: 5px 15px;
  }
  /*footer*/
  .right-footer-row h4{
    font-size: .6em;
  }
  .footer .container {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 320px) {
  body{
    font-size: 12px;
  }
}